<form action="/form" method="post">  
	
	Nombre del paciente: 
  <input placeholder="Nombres y apellidos" type="text"name="nombre"></br>     Edad: 
  <input placeholder="En años"type="number" name="edad"> </br>
   Peso:
  <input placeholder="En kilogramos" type="number" name="peso"></br>
 
	 
  <input class= "btn btn-primary" type="submit">  

	
  
</form>
